# Ignore node_modules directory
src/node_modules
.git
.gitignore
node_modules
npm-debug.log
Dockerfile*
docker-compose*
README.md
LICENSE
.vscode
build_push_image.sh
.npmrc
Jenkinsfile
jenkins
scripts